<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>
  <nav>
    <!-- <img src="/images/camera.svg"> -->
    <!-- <a href="/performers/new" <%- title === 'Add Performer' ? 'class="active"' : '' %>>ADD PERFORMER</a> -->
    <a href="/gigs/new" <%- title === 'Add Gig' ? 'class="active"' : '' %>>ADD GIG</a>
    <a href="/gigs" <%- title === 'All Gigs' ? 'class="active"' : '' %>>ALL GIGS</a>
  </nav>
  <main>
    <h1><%= title %></h1>