<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Gigs</title>
</head>
<body>
    
    <ul class="right">
        <li>
        <% if (user) { %>
          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
        <% } %>
        </li>
      </ul>
    

 
    <table class="all">
        <thead>
          <tr>
            <th scope="col">Venue</th>
            <th scope="col">Band</th>
            <th scope="col">Instrument</th>
            <th scope="col">City</th>
            <th scope="col">Date</th>
            
          </tr>
        </thead>
        <tbody>
          <% gigs.forEach(function(gig){ %>
          <tr <% if (gig.date) {%>
            class="text-danger" <%}%> >
            <th scope="row">
              <%= gig.venue %>
            </th>
            <td><%= gig.band %></td>
            <td><%= gig.instrument %></td>
            <td><%= gig.city %></td>
            <td><%= gig.date %></td>
            <td><form action="/gigs/<%= gig._id %>?_method=DELETE" 
            method="POST" > 
            <button type="submit">X</button></form>
            </td>
            <td>
              <a href="/gigs/<%= gig._id %>">DETAILS</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <a href="/gigs/new">ADD GIG</a>

      <script type="text/javascript" src="/javascripts/materialize.js"></script>
  
</body>
<%- include('../partials/footer') %>
</html>