<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section id="show-page">
        <div>Venue: </div>
        <div><%= gig.venue %></div>
        <div>Band: </div>
        <div><%= gig.band %></div>
        <div>Instrument: </div>
        <div><%= gig.instrument %></div>
        <div>City: </div>
        <div><%= gig.city %></div>
        <div>Date:</div>
        <div><%= gig.date %></div>
        <div>Setlist:</div>
        <div><%= gig.setlist %></div>

       
      </section>



  <a href="/newSet">ADD SETLIST</a>

  <script type="text/javascript" src="/javascripts/materialize.js"></script>

      