<section id="show-page">
        <div>Venue: </div>
        <div><%= gig.venue %></div>
        <div>Band: </div>
        <div><%= gig.band %></div>
        <div>Instrument: </div>
        <div><%= gig.instrument %></div>
        <div>City: </div>
        <div><%= gig.city %></div>
        <div>Date:</div>
        <div><%= gig.date %></div>

       
      </section>
      